@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.body {
	width: 100%;
	height: auto;
	overflow-x: hidden;
	background-color: black;
	margin: 0;
	padding: 0;
}

#menuToggle {
	display: none;
}

.instaLogin {
	/* width: 100%; */
	max-width: 100%;
	text-decoration: none;
	outline: none;
}

#calendar {
	width: 100%;
	margin-top: 8em;
	z-index: 1;
	/* margin-left: .2em; */
}

#file {
	display: none;
}

.home > img {
	width: 200px;
}

.upload {
	width: 10%;
	height: auto;
	position: absolute;
	display: block;
	margin: 2em 0 0 1em;
}

li,
ul {
	list-style: none;
}

.avatar {
	border-radius: 50%;
	margin-right: 2em;
	vertical-align: middle;
}

.navbar {
	width: 100%;
	height: auto;
	background-color: black;
	/* margin-bottom: 2em; */
}

.nav-main {
	/* visibility: hidden; */
	padding: .4em 0;
	margin-left: 2em;
}

.nav-main > a {
	text-decoration: none;
	font-size: 1.1em;
	color: #eac5d8;
}

.nav-item + .nav-item {
	margin-left: 1em;
}

#fb-btn {
	display: none;

	margin-right: 1em;
}

.heading {
	font-size: 8em;
	margin: 0 auto;
	text-align: center;
	/* font-family: "Quicksand", sans-serif; */

	margin-bottom: .3em;
}

.para {
	font-size: 1.7em;
	margin: 0 auto;
	text-align: center;
}

.intro {
	margin: 9em 0 0 0;
	color: white;
}

.navigation {
	display: none;
	width: 100%;
	max-width: 150px;
	/* background-color: black; */
}

.button > img {
	width: 40px;
	border-radius: 50px;
	float: left;
}

.logout {
	display: none;
	font-size: .9em;
	font-family: 'Oswald', sans-serif;
	position: relative;
	right: 2px;
	bottom: -10px;
	overflow: hidden;
	letter-spacing: 3px;
	opacity: 0;
	transition: opacity .45s;
	-webkit-transition: opacity .35s;
}

.button {
	text-decoration: none;
	float: right;
	padding: 10px;
	margin: 15px;
	color: white;
	width: 60px;
	background-color: black;
	transition: width .35s;
	-webkit-transition: width .35s;
	overflow: hidden;
	margin-right: 2em;
}

.navigation a:hover {
	width: 170px;
}

a:hover .logout {
	opacity: .9;
}

a {
	text-decoration: none;
}

.acc-div {
	display: flex;
	margin-top: 4em;
}

.acc-div + .acc-div {
	margin-left: 3em;
}

.acc-div1 {
	display: flex;
	margin-top: 8em;
}

.acc-div1 + .acc-div1 {
	margin-left: 2em;
}

.vl {
	border-left: 1px solid #f3f3f3;
	height: 90px;
	margin-left: 1em;
	margin-right: 1em;
}

.vl1 {
	border-left: 1px solid #f3f3f3;
	height: 100px;
	margin-left: 1em;
	margin-right: 1em;
}

.acc-icon {
	font-size: 3em;
}

.acc-overview {
	display: flex;
	flex-direction: column;
	margin: 0 2em;
	margin-bottom: 13em;
}

.flex {
	display: flex;
}

.flex1 {
	display: flex;
	margin-top: 1em;
}

#container {
	width: 100%;
	position: relative;
	height: auto;
	display: block;
}

#container > h2 {
	font-size: 2em;
	margin-left: 2.4em;
	margin-top: 3em;
	margin-bottom: 1em;
}

* {
	box-sizing: border-box;
}
.openBtn {
	display: flex;
	justify-content: left;
}
.openButton {
	border: none;
	border-radius: 5px;
	background-color: #1c87c9;
	color: white;
	padding: 14px 20px;
	cursor: pointer;
	position: fixed;
}
.loginPopup {
	position: absolute;
	text-align: center;
	width: 100%;
}

#popupForm {
	display: block;
	display: none;
}

.formPopup {
	display: none;
	position: absolute;
	/* left: 45%;
	top: 95%; */
	margin: 0em 0 0 46em;
	transform: translate(-50%, 5%);
	border: 2px solid #999999;
	z-index: 9;
}
.formContainer {
	width: 65vw;
	/* min-width: 300px; */
	height: 89vh;

	padding: 20px;
	background-color: #fff;
}

.post-img {
	/* width: 100%; */
	min-width: 16em;
	padding: 0;
	margin: 0;
	max-width: 17em;
	border-radius: 0px;
	height: auto;
}

.caption-row {
	position: relative;
	/* padding: 1em; */
	width: 100%;
	display: flexbox;
	flex-direction: column;
	border: 1px solid gray;
	padding: 1em .6em 2.6em .6em;
}

#caption-box {
	/* position: absolute; */
	margin-left: 16em;
	width: 60%;

	height: 21.3vh;
	border: none;
	outline: none;
}

#caption-box::after {
	border: none;
	outline: none;
}

/* .tag-ppl {
	position: relative;
	width: 33%;
	margin-top: -.5em;
	float: left;
	border: none;
	outline: none;
	margin-left: .7em;
	border: 1px solid gray;
} */

.cmnt-heading {
	font-size: 1em;
	float: left;
}

.cap-heading {
	font-size: 1em;
	margin-left: 16em;
	/* float: left; */
}

.first-cmnt {
	width: 100%;
	height: 12vh;
}

.cmnt-div {
	margin-top: -.8em;
}

/* .location-btn {
	padding: .6em 2em;
	float: left;
	border-radius: 8px;
	border: none;
	outline: none;
} */

.buttons {
	width: 100%;
	height: auto;
	display: flexbox;
	flex-direction: row;
	justify-content: space-between;

	padding-top: 5em;
}

.cancel-btn {
	border: none;
	outline: none;
	float: left;
	padding: .3em 1em;
}

.save-btn {
	border: none;
	outline: none;
	float: right;
	padding: .3em 3em;
	background-color: #1c87c9;
}

.drop-zone {
	max-width: 12em;
	height: 10em;
	/* padding: 29px; */
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	color: black;
	/* border: 1px dashed #009578; */
	background-color: #cccccc;
	/* border-radius: 10px; */
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 11em;
	height: 10em;
	/* border-radius: 10px; */
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}

emoji-picker {
	/* width: 100%;
	height: 100%; */

	display: none;
	width: 340px;
	height: 300px;
	/* overflow: visible; */
	margin-left: 64em;
	margin-top: 1.8em;
}

.caption-div > i {
	/* display: block; */
	width: 100%;
	height: 100%;
	font-size: 8em;
	font-weight: 900;
	font-family: FontAwesome;
	position: relative;
	float: right;
	/* margin-left: 57em; */
}

.time-picker {
	position: absolute;
	display: inline-block;
	padding: 10px;
	background: #eeeeee;
	border-radius: 6px;
	z-index: 9;
	margin-top: 2em;
	margin-left: -3em;
}

.time-picker__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	text-align: center;
	border: 1px solid #dddddd;
	border-radius: 6px;
	padding: 6px 14px;
	background: #ffffff;
	cursor: pointer;
	z-index: 9;

	font-family: 'Heebo', sans-serif;
}

.time-display {
	width: 100%;
	height: auto;
	margin-left: 32em;
	margin-top: -1.5em;
}

.time-head {
	font-size: 1em;
}

@media only screen and (max-device-width: 500px) {
	.home > img {
		width: 130px;
	}

	.nav-main > a {
		font-size: 1em;
	}

	.nav-item + .nav-item {
		margin-left: .5em;
	}

	.nav-main {
		margin-left: 4em;
	}

	.instaLogin {
		/* width: 100%; */
		max-width: 100%;
		text-decoration: none;
		outline: none;
		border: none;
		margin-right: 1em;
	}

	.intro {
		margin: 7em 0 0 0;

		color: white;
		/* font-family: 'Quicksand', sans-serif; */
	}

	.heading {
		font-size: 4em;
	}

	.para {
		font-size: 1em;
		width: 90%;
		margin: 0 auto;
		/* align-items: center; */
		font-family: 'Quicksand', sans-serif;

		text-align: center;
	}

	.para + .para {
		margin-top: .8em;
	}

	.acc-icon {
		font-size: 1.5em;
	}

	.flw-text > h4 {
		width: 100%;
		font-size: 1em;
	}

	.reach-text > h4 {
		width: 100%;
		font-size: 1em;
	}

	.impression-text > h4 {
		font-size: 1em;
	}

	.profile-text > h4 {
		font-size: 1em;
	}

	.vl {
		height: 60px;
	}

	.flex {
		display: flex;
		flex-direction: column;
		margin-bottom: 0em;
	}

	.acc-div + .acc-div {
		margin-left: 0em;
	}

	.acc-div1 + .acc-div1 {
		margin-left: 0.3em;
	}

	.flex1 {
		display: flex;
		flex-direction: column;
		margin-top: 0em;
	}

	.email-text > h4 {
		font-size: 1em;
	}

	.phone-text > h4 {
		font-size: 1em;
	}

	.msg-text > h4 {
		font-size: 1em;
	}

	.website-text > h4 {
		font-size: 1em;
	}

	.vl1 {
		height: 60px;
	}

	#container {
		color: white;

		overflow-x: hidden;
	}

	#container > h2 {
		font-size: 1em;
		margin-left: 2em;
	}

	.acc-div {
		margin-top: 4em;
		margin-left: -0.2em;
	}

	.acc-div1 {
		margin-top: 4em;
		margin-left: 0.12em;
	}

	.profile-div {
		padding-left: 0.15em;
	}

	.formPopup {
		margin: 1em 0 0 1em;
		/* z-index: 99998 !important; */
	}

	.formContainer {
		width: 89vw;
		height: 70vh;
		position: absolute;
		padding: 20px;
		background-color: #fff;
	}

	.drop-zone {
		max-width: 7em;
		height: 7em;
		/* padding: 29px; */
		font-weight: 500;
		font-size: 16px;
		cursor: pointer;
		color: black;
		/* border: 1px dashed #009578; */
		background-color: #cccccc;
		/* border-radius: 10px; */
	}

	.caption-row {
		position: relative;
		/* padding: 1em; */
		width: 100%;
		display: flexbox;
		flex-direction: column;
		border: 1px solid gray;
		padding: 1em .6em 2.6em .6em;
	}

	#caption-box {
		/* position: absolute; */
		margin-left: 8em;
		width: 55%;

		height: 9.3vh;
		border: none;
		outline: none;
	}

	.cap-heading {
		font-size: 1em;
		margin-left: 8em;
		/* float: left; */
	}

	.time-display {
		margin-left: 0em;
		margin-top: -8.5em;
		padding-bottom: 1em;
	}

	.buttons {
		width: 100%;
		height: auto;
		display: flexbox;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 2em;
		padding-top: 7em;
	}

	.time-picker {
		position: absolute;
		display: inline-block;
		padding: 8px;
		background: #eeeeee;
		border-radius: 6px;
		z-index: 99999 !important;
		margin-top: -4.8em;
		margin-left: -52em;
	}

	.drop-zone__thumb {
		width: 10em;
		padding-top: 1em;
		height: 8em;
		/* border-radius: 10px; */
		overflow: hidden;
		background-color: #cccccc;
		background-size: cover;
		position: relative;
	}

	.insights {
		display: none;
	}

	.schedule {
		display: none;
	}

	#menuToggle {
		display: block;
		position: absolute;
		top: 34px;
		left: 11px;

		z-index: 9;

		-webkit-user-select: none;
		user-select: none;
	}

	#menuToggle a {
		text-decoration: none;
		color: #232323;

		transition: color 0.3s ease;
	}

	#menuToggle a:hover {
		color: tomato;
	}

	#menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0; /* hide this */
		z-index: 2; /* and place it over the hamburger */

		-webkit-touch-callout: none;
	}

	/*
 * Just a quick hamburger
 */
	#menuToggle span {
		display: block;
		width: 23px;
		height: 2px;
		margin-bottom: 5px;
		position: relative;

		background: #cdcdcd;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
			background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
	}

	#menuToggle span:first-child {
		transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
	#menuToggle input:checked ~ span {
		opacity: 1;
		transform: rotate(48deg) translate(1px, 1px);
		background: #232323;
	}

	/*
 * But let's hide the middle one.
 */
	#menuToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
 * Ohyeah and the last one should go the other direction
 */
	#menuToggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(313deg) translate(0px, 1px);
	}

	/*
 * Make this absolute positioned
 * at the top left of the screen
 */
	#menu {
		position: absolute;
		width: 110vw;
		overflow: hidden;
		height: 100vh;
		margin: -100px 0 0 -50px;
		padding: 50px;

		padding-top: 125px;

		background: #ededed;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */

		transform-origin: 0% 0%;
		transform: translate(-100%, 0);

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	}

	#menu li {
		padding: 1px 0;
		font-size: 19px;
	}

	/*
 * And let's slide it in from the left
 */
	#menuToggle input:checked ~ ul {
		transform: none;
	}
}
